.recipeListContainer {
  background: linear-gradient(to bottom right, #4dc9fa, #ffb6c1);
  padding: 20px;
}

.recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #4dc9fa, #ffb6c1);
  border-radius: 10px;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #c6fbbc;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.listItem {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: linear-gradient(to bottom right, #4dc9fa, #ffb6c1);
  color: hsl(0, 29%, 97%);
  user-select: none; /* Prevent text selection while dragging */
}

.listItem:hover {
  background-color: #b2b8bc;
  color: #460342;
}

@media (max-width: 768px) {
  .listItem {
    padding: 15px;
    font-size: 1.2em;
  }
}

.card {
  background: linear-gradient(135deg, #ffafbd 0%, #ffb6c1 100%);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}

/* Additional styles for drag-and-drop */
.dragging {
  background-color: #e0e0e0; /* Change background color while dragging */
}
